<div class="rating">
  <div class="rating__movie">
    <div class="movie__img">
      <img src="{{movie?.imgURL}}" alt="poster" class="img">
    </div>
    <h3 class="movie__title">
      {{movie?.title}}
    </h3>
    <div class="movie__director">
      <span class="director">Director:</span> {{movie?.director}}
    </div>
    <span *ngIf="ratings" class="movie__rating">Middle rating: {{getMiddleRating()}}</span>
  </div>
  <div class="rating__option">
    <button mat-raised-button (click)="createReviewer()" class="option__button">Add reviewer</button>
    <button mat-raised-button (click)="createRating()" class="option__button">Add rating</button>
  </div>

  <table mat-table [dataSource]="ratings" class="movie__rating-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let rating"> {{rating.id}} </td>
    </ng-container>

    <ng-container matColumnDef="reviewer">
      <th mat-header-cell *matHeaderCellDef> Reviewer </th>
      <td mat-cell *matCellDef="let rating"> {{rating.reviewer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="star">
      <th mat-header-cell *matHeaderCellDef> Star </th>
      <td mat-cell *matCellDef="let rating"> {{rating.star}} </td>
    </ng-container>

    <ng-container matColumnDef="ratingDate">
      <th mat-header-cell *matHeaderCellDef> Rating date </th>
      <td mat-cell *matCellDef="let rating"> {{rating.ratingDate | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableRows"></tr>
    <tr mat-row *matRowDef="let row; columns: tableRows;"></tr>
  </table>
</div>
